.header {
  height: 800px;
  width: 2005px;

  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  &__bg {
    filter: brightness(70%);
  }
  &__menu {
    position: absolute;
    margin-left: 143px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1620px;

    &-list {
      display: flex;
      font-size: 20px;
      column-gap: 30px;
    }
  }

  &__menu-search {
    display: flex;
    align-items: center;
    button {
      margin-left: 24px;
      background-color: black;
      color: #fff;
      font-family: var(--font5);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.08em;
      border-radius: 2px;
      padding: 10px 40px;
      height: 54px;
    }
  }
}
