main {
  margin-top: 67px;
  margin-bottom: 228px;
  height: 1497px;
  width: 2005px;
  display: flex;
}
.socials {
  width: 45px;
  height: 378px;
  border: 1px solid black;
  margin-left: 405px;
}
.maintext {
  width: 1080px;
  height: 1497px;
  border: 1px solid black;
  margin-left: 70px;
}
