:root {
  --font-family: 'Europa-Bold', sans-serif;
  --second-family: 'Europa-Regular', sans-serif;
  --third-family: 'Roboto', sans-serif;
  --font3: 'Segoe UI', sans-serif;
  --font4: 'EuropaNuova-Regular', sans-serif;
  --font5: 'Sansita', sans-serif;
  --font6: 'EuropaNuova-Bold', sans-serif;
  --font7: 'Poppins', sans-serif;

  --container-width: 1997px;

  --transition-duration: 0.2s;

  --text-color-dark: #121416;
  --color-gray: #6c757d;
}
