@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
   */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
   */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
   */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
   */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/**
    Приведение рамок таблиц в классический 'collapse' вид
   */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Europa-Bold";
  src: url("../fonts/Europa-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Europa-Regular";
  src: url("../fonts/Europa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EuropaNuova-Regular";
  src: url("../fonts/Europa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sansita";
  src: url("../fonts/Sansita-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EuropaNuova-Bold";
  src: url("../fonts/EuropaNuovaBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family: "Europa-Bold", sans-serif;
  --second-family: "Europa-Regular", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Segoe UI", sans-serif;
  --font4: "EuropaNuova-Regular", sans-serif;
  --font5: "Sansita", sans-serif;
  --font6: "EuropaNuova-Bold", sans-serif;
  --font7: "Poppins", sans-serif;
  --container-width: 1997px;
  --transition-duration: 0.2s;
  --text-color-dark: #121416;
  --color-gray: #6c757d;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-dark);
}

.content {
  margin-inline: auto;
  width: 1997px;
}

.contentblog {
  margin-inline: auto;
  width: 2005px;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 42px;
}

.header {
  height: 800px;
  width: 2005px;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__bg {
  filter: brightness(70%);
}
.header__block {
  position: absolute;
  margin-left: 143px;
  margin-top: 36px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1620px;
}
.header__menu-list {
  display: flex;
  font-size: 20px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__breadcrumbs {
  margin-top: 32px;
  font-weight: 700;
  font-size: 14px;
}
.header__breadcrumbs svg {
  padding-top: 5px;
}
.header__menu-search {
  display: flex;
  align-items: center;
}
.header__menu-search button {
  margin-left: 24px;
  background-color: black;
  font-family: var(--font5);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.08em;
  border-radius: 2px;
  padding: 10px 40px;
  height: 54px;
  color: #fff;
}
.header__middle {
  width: 1084px;
  height: 306px;
  margin-top: 294px;
  margin-left: 116px;
}
.header__middle-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 103%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.header__middle-text {
  margin-top: 16px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
}
.header__middle-author {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}
.header__middle-author-line {
  width: 20px;
  height: 1px;
  background: #fff;
  margin-inline: 10px;
}
.header__middle-author-time {
  margin-left: 4px;
  font-size: 16px;
}
.header__middle-author-social {
  margin-right: 10px;
}

main {
  margin-top: 67px;
  margin-bottom: 228px;
  height: 1497px;
  width: 2005px;
  display: flex;
}

.socials {
  width: 45px;
  height: 378px;
  margin-left: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 4px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
}
.socials .space {
  height: 60px;
}
.socials .space2 {
  height: 40px;
}

.maintext {
  width: 1080px;
  height: 1497px;
  margin-left: 70px;
}
.maintext p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 183%;
}
.maintext__title {
  margin-top: 80px;
  display: flex;
}
.maintext__title svg {
  color: #a9a9a9;
}
.maintext__title-text {
  margin-top: -20px;
  margin-left: 36px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.maintext__title2 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.maintext__list {
  height: 165px;
  margin-block: 24px;
  margin-left: 80px;
  list-style-type: disc;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 183%;
  padding-block: 30px;
}

.footer {
  height: 216px;
  background-color: black;
  display: flex;
  padding-top: 88px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}
.footer__signature {
  margin-left: 124px;
}
.footer__signature span {
  font-family: var(--font6);
}/*# sourceMappingURL=stylesblog.css.map */